# Coursera Applied Data Science Capstone Project

#### Applied DS: Week3 Assignment

In [1]:
#Import libraries
import pandas as pd
import numpy as np
import re
print('success')

success

In [2]:
#Load Data into dataframe
df1 =pd.read_html('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M')[0]
print(df1.shape)
df1.head(2)

(20, 9)

                                 0  ...                                                  8
0                  M1ANot assigned  ...                     M9AEtobicoke(Islington Avenue)
1  M1BScarborough(Malvern / Rouge)  ...  M9BEtobicoke(West Deane Park / Princess Garden...

[2 rows x 9 columns]

In [3]:
#Feature Engineering

df1_T = df1.transpose()

cols = df1.columns.values
print(cols,'\n')

lst_PostalCode = []
lst_Neigh = []
lst_Borough = []
# lst_temp = []
i=1

for c in range(len(cols)):
        lst_temp = []
        lst_temp.append(df1_T.iloc[c])
        for t in lst_temp:
            for j in range(len(t)):
                lst_PostalCode.append(t[j][:3])
                txt1 = re.search(r"\((.*)\)",t[j])
                if txt1:
                    lst_Neigh.append(txt1.group(1))
                else:
                    lst_Neigh.append('Not assigned')
                txt2 = re.search(r"(.*)\(",t[j][3:])
                if txt2:
                    lst_Borough.append(txt2.group(1))
                else:
                    lst_Borough.append('Not assigned')
                
                
print(len(lst_PostalCode))
print(len(lst_Neigh))
print(len(lst_Borough))

[0 1 2 3 4 5 6 7 8]

180
180
180

In [4]:
#Creating DataFrame from list 
fin_df = pd.DataFrame(list(zip(lst_PostalCode,lst_Borough,lst_Neigh)),columns=['PostalCode','Borough','Neighborhood'])
fin_df.head(10)

  PostalCode       Borough                                       Neighborhood
0        M1A  Not assigned                                       Not assigned
1        M1B   Scarborough                                    Malvern / Rouge
2        M1C   Scarborough           Rouge Hill / Port Union / Highland Creek
3        M1E   Scarborough                Guildwood / Morningside / West Hill
4        M1G   Scarborough                                             Woburn
5        M1H   Scarborough                                          Cedarbrae
6        M1J   Scarborough                                Scarborough Village
7        M1K   Scarborough      Kennedy Park / Ionview / East Birchmount Park
8        M1L   Scarborough                  Golden Mile / Clairlea / Oakridge
9        M1M   Scarborough  Cliffside / Cliffcrest / Scarborough Village West

In [5]:
#replacing forward slash with comma 
fin_df=fin_df.apply(lambda x: x.str.replace('/',','))
print(fin_df[fin_df['PostalCode']=='M5A'])
print(fin_df.shape)
fin_df.head()

   PostalCode           Borough                Neighborhood
80        M5A  Downtown Toronto  Regent Park , Harbourfront
(180, 3)

  PostalCode       Borough                              Neighborhood
0        M1A  Not assigned                              Not assigned
1        M1B   Scarborough                           Malvern , Rouge
2        M1C   Scarborough  Rouge Hill , Port Union , Highland Creek
3        M1E   Scarborough       Guildwood , Morningside , West Hill
4        M1G   Scarborough                                    Woburn

In [6]:
#counting 'Not assigned' Borough
print(fin_df[fin_df.Borough=='Not assigned']['Borough'].count())
print(fin_df[fin_df.Borough!='Not assigned']['Borough'].count())
print(fin_df.shape)

77
103
(180, 3)

In [7]:
#we are only considering data which has assigned Borough values.
fin_df = fin_df[fin_df.Borough!='Not assigned']
print(fin_df.shape)

(103, 3)

In [8]:
#Combine all neighbourhoods where postcode and Borough are the same
fin_df = fin_df.groupby(['PostalCode', 'Borough'])['Neighborhood'].apply(list).apply(lambda x:', '.join(x)).to_frame().reset_index()

In [9]:
#if Neighbourhood is not assigned, replace by borough name
for index, row in fin_df.iterrows():
    if row['Neighborhood'] == 'Not assigned':
        row['Neighborhood'] = row['Borough']

# define the dataframe columns
column_names = ['PostalCode','Borough', 'Neighborhood'] 

fin_df.columns = column_names

fin_df.head()

  PostalCode      Borough                              Neighborhood
0        M1B  Scarborough                           Malvern , Rouge
1        M1C  Scarborough  Rouge Hill , Port Union , Highland Creek
2        M1E  Scarborough       Guildwood , Morningside , West Hill
3        M1G  Scarborough                                    Woburn
4        M1H  Scarborough                                 Cedarbrae

In [10]:
fin_df.shape

(103, 3)

In [13]:
fin_df.to_csv('Torronto_neighborhood_data_uj.csv',index=False)